source config.sh.defaults
######## Please edit from here ########
export SRC_DIR=$HOME/src
export PREFIX=$HOME/openrtp
export SUDO=
export MAKE_THREADS_NUMBER=2
export BUILD_TYPE=Release
export BUILD_SUBDIR=build
export CMAKE_ADDITIONAL_OPTIONS=
export OCTOMAP_VERSION=1.8.0
export DYNAMORIO_VERSION=Linux-6.2.0-2
export DYNAMORIO_RELEASE=release_6_2_0
# ENABLE_ASAN= 0 to disable, 1 to enable, w to enable for writes only.
export ENABLE_ASAN=0
export IS_VIRTUAL_BOX=0
export ROBOT_HOSTNAME=localhost
export VERBOSE_SCRIPT=0
export INTERNAL_MACHINE=0
export PACKAGES="OpenRTM-aist openhrp3 pcl octomap hrpsys-base HRP2 HRP2KAI HRP5P sch-core state-observation hmc2 hrpsys-humanoid hrpsys-private hrpsys-state-observation choreonoid"

######## Please don't edit from here ########
source definitions.sh