export SRC_DIR=$HOME/src
export PREFIX=$HOME/openrtp
export HAVE_ATOM_ACCESS=1
export SUDO=
export INTERNAL_MACHINE=0
export MAKE_THREADS_NUMBER=2
export BUILD_TYPE=Release
export OCTOMAP_VERSION=1.8.0
export ENABLE_ASAN=0
export IS_VIRTUAL_BOX=0
export BUILD_FRAP_FPE=0

/bin/ping atom.a01.aist.go.jp -c 1 &> /dev/null
if [ $? -ne 0 ] 
then
    export HAVE_ATOM_ACCESS=0
fi

export UBUNTU_VER="$(lsb_release -rs)"

if [ "$(lsb_release -is)" == "Debian" ]
then
    export INTERNAL_MACHINE=1
    export UBUNTU_VER=14.04
fi

BUILD_GOOGLE_TEST=ON

err_report() {
    echo "Error on line $2:$1"
    echo "Stopping the script $(basename "$3")."
}


