export SRC_DIR=$HOME/src
export UBUNTU_VER=14.04
export PREFIX=$HOME/openrtp
export HAVE_ATOM_ACCESS=1
export SUDO=
export INTERNAL_MACHINE=0

/bin/ping atom -c 1 &> /dev/null
if [ $? -ne 0 ] 
then
    export HAVE_ATOM_ACCESS=0
fi

if [ "$(lsb_release -is)" == "Debian" ]
then
    export INTERNAL_MACHINE=1
fi
